<header>
	<div class="header" id="home">
	<div>
			
			<h2>MUSIKKAT</h2>
			<!-- mobile phone links -->
			<div class="menu" id="menu" >
			</div>
				
	</div>

	
	<div id="links">
			<a href="/"><img src="entertainment.png" height="40px" width="30px"/>HOME</a> 
			<a href="news_field"><img src="news.png" height="40px" width="30px"/>NEWS</a> 
			<a href="download"><img src="music.png" height="40px" width="30px"/>SONGS</a> 
			<a href="short_video"><img src="video.png" height="40px" width="30px"/>VIDEO</a> 
			<a href="about"><img src="about.png" height="40px" width="30px"/>ABOUT</a> 
	</div>
	
	<div id="link">
			<a href="http://facebook.com/okoto.chris"><img src="Facebook.png" alt="Facebook" /></a> 
			<a> <img src="Whatsapp.jpg" alt="Whatsapp"/></a> 
			<a> <img src="Gmail.jpg" alt="Gmail"/></a>
	</div>
	

	<div class="mode">
			<div class="dark"></div>
			<div class="white"></div>
	</div>
		
	<div id="links_mobile">
		<a href="/"><img src="entertainment.png" height="40px" width="30px"/>HOME</a> 
		<a href="news_field"><img src="news.png" height="40px" width="30px"/>CELEBRITY NEWS</a> 
		<a href="download"><img src="music.png" height="40px" width="30px"/>TOP SONGS</a>
		<a href="short_video"><img src="video.png" height="40px" width="30px"/>Short_Videos</a> 
		<a href="about"><img src="about.png" height="40px" width="30px"/>ABOUT</a> 

		<div id="sociallink">
			<a href="http://facebook.com/okoto.chris"><img src="Facebook.png"  /></a> 
			<a href="http://wa.me/09157303724"> <img src="Whatsapp.jpg"/></a> 
			<a href=""> <img src="Gmail.jpg"/></a>
		</div>
	</div>
	<div id="advert">
		<a href="/"><img src="entertainment.png" /></a>
		<a href="/news_field"><img src="news.png" /> </a>
		<a href="/download"><img src="music1.png" /></a>
		<a href="/short_video"><img src="video.png" /></a>
		<img src="music_dance.png" />
	</div>
	
  
  <script sur="main.js"></script>
</header>

