<head>
	
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="style.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="musikkat.png" type="image/png" size="32x32"/>
	<meta name="google-site-verification" content="ePd2zf3CiR3QLAbaoYsQnPu59UuyKeQ9VmmPQdb5cuM" />

	<title> Musikkat || <%= title %></title>			
</head>
