<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L5J866BG6J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L5J866BG6J');
</script>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="style/style.css"/>
	<link rel="stylesheet" href="./style/extra_info.css" />
	<link rel="stylesheet" href="style/footer.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="musikkat.png" type="image/png" size="32x32"/>
		<title>Your Website Title</title>
		<meta name="description" content="Stream and download music, watch short videos, and stay updated with the latest news on our platform. Enjoy a wide selection of music genres and discover new favorites. Join us now!">
	<meta name="google-site-verification" content="ePd2zf3CiR3QLAbaoYsQnPu59UuyKeQ9VmmPQdb5cuM" />
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8809630259604795" crossorigin="anonymous"></script>
   <!--Moneytizing-->
	<meta name="monetag" content="503d2b7d07ade248f6746703100fcda7">
	<title> Musikkat || <%= title %></title>			
</head>
