<head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L5J866BG6J"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L5J866BG6J');
</script>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../style/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../musikkat.png" type="image/png" size="32x32"/>
	<meta name="google-site-verification" content="ePd2zf3CiR3QLAbaoYsQnPu59UuyKeQ9VmmPQdb5cuM" />
	<!--moneytizing-->
  <meta name="monetag" content="503d2b7d07ade248f6746703100fcda7">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8809630259604795" crossorigin="anonymous"></script>
    <title> Musikkat || <%= title %></title>			
</head>