.extra_info{
    display:flex;
    flex-direction:column;
    height:auto;
}
.extra_video{
    height:370px;
    width:98%;
    overflow:hidden;
    display:flex;
    flex-direction:space-around;
}

.extra_video:hover{
    overflow-x:scroll; 
}

.extra_news{
    margin:15px auto;
    width:70%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.single_video{
    width:90%;
    height:500px;
    margin:5px auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.extra_video iframe{
   width:500px;
   height:315px;
   margin-top:10px;
}

@media only screen and (max-width:700px){
    .extra_news{
        margin:15px auto;
        width:98%;
        margin:5px auto;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    .extra_news img{
        width:90%;
        margin:0px auto;
    }
    .single_video{
        width:98%;
        height:400px;
    }
    .extra_video iframe{
        width:370px;
        height:315px;
        margin-top:10px;
        border:none;
        border:solid black 1px; 
        margin-left:3px;
     }
}
.field_into{
    margin-top:10px;
}
a{
    color:white;
}