<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
<<<<<<< HEAD
=======
        <div style="padding-top:100px;"></div>
>>>>>>> 8a64285788bd241710df348f9ba7c564f927c73e
        <h3>OPPS!</h3>
        <h2>PAGE NOT FOUND</h2>

        <script src="main.js"></script>
    </body>
</html>