<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
<<<<<<< HEAD
=======
    <div style="padding-top:100px;"></div>
>>>>>>> 8a64285788bd241710df348f9ba7c564f927c73e
    <div>
        <div class="style">
            <h2>Welcome To MUSIKKAT!, download music here for free</h2>
            
            you can now upload your songs on Musikkat, contact us on any of our 
            soscial media handdle <b>you can now follows</b> us on any of the social mediahandle.<br/>
            <b>Instagram: musikkat, Facebook: musikkat, Youtube: musikkat</b> stay connected for update and promotion.
                
        </div>
            
<<<<<<< HEAD
</div>
=======
    </div>
>>>>>>> 8a64285788bd241710df348f9ba7c564f927c73e
    <div class="sect">
      
    <section>
        <div>
            <h2>ABOUT US</h2>
            Musikkat is a standlone website develop by BigDreams Computer Service located in Benin with lot of amazing 
            features, musikkat now allows you to upload your song for free and get lot of likes and followers on your social
            handle as it allows you to link your account to your social media account . you can contact yours on  07068291163
        </div>
        <div>
        <p>
            <h2>OBJECTIVE</h2>
            musikkat is build with the aim of promoting Music Artist, bringing upcoming Artist to lime-light, it is totally free 
            and lot of features you can now link your social media handle to your songs, <b>invite your friends today to download 
            and stream your songs online.</b> chat us on any of our social handle to upload your song, or email us on 
            <b> musikkat.management@gmail.com</b> 
        </p>
        </div>
        <div>
        <h2>SPECIAL FEATURES</h2>
            <p>	Musikkat has lot of features as you can now link your social media handle to your account getting a 
                special ID that you can use to search your songs. Lot of more features is still on the bake 
                refer your friends and get a special package, create more traffics on your songs and get a chance 
                of appearing at the first top 10 in the list 
            </p>
        </div>
        
        
    </section>
<<<<<<< HEAD
=======
    <p style="color:gold; margin:0px">&copy; musikkat </p>
>>>>>>> 8a64285788bd241710df348f9ba7c564f927c73e
</div>
<script src="main.js"></script>
</body>
