<!DOCTYPE html>

<html>
    <%- include('partials/head.ejs') %>
    
    <body>

        <%- include('partials/header.ejs') %>
        <div style="background:url('./sexyimage.jpg');"  class="design_container">
            <h1  style="padding-top:20px;">MUSICKKAT we gat you cover </h1>
            <p> stream your favourtite video </p>
            <div class="container" >
                <div class="search-container">
                    <input type="text" placeholder="Search for content" class="search"/><label>Search</label>
                </div>	
            </div>
        </div>
        <div class="video_container">
            <div class="video_container flex-container">
                <% if(blogvs.length > 0) { %>
                    <% blogvs.forEach(blogv => { %>
                        <div class="flex-item">
                            <div class="v_paragraph"><p><%= blogv.content %> </p></div>
                            <embed height="280px" width="99.5%" src="<%= blogv.link %>" allowfullscreen />
                        </div>
                    <% }); %>
                <% } else { %>
                    <h2> no data</h2>
                <% } %>
            </div>
            
        </div>

        <script src="main.js"></script>
    </body>
</html>