<!DOCTYPE html>

<html>
    <%- include('partials/head.ejs') %>
    
    <body>

        <%- include('partials/header.ejs') %>
        <div style="background:url('./sexyimage.jpg');"  class="design_container">
            <h1  style="padding-top:20px;">MUSICKKAT we gat you cover </h1>
            <p> stream your favourtite video </p>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8809630259604795"crossorigin="anonymous"></script>
            <!-- simplifying the web -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-8809630259604795"
            data-ad-slot="8600459374"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
>>>>>>> 8a64285788bd241710df348f9ba7c564f927c73e
        </div>
        <div class="video_container">
            <div class="video_container flex-container">
                <% if(blogvs.length > 0) { %>
                    <% blogvs.forEach(blogv => { %>
                        <div class="flex-item">
                            <div class="v_paragraph"><p><%= blogv.content %> </p></div>
                            <iframe height="320px" width="99.5%" src="<%= blogv.link%>&rel=0" allowfullscreen></iframe>
                        </div>
                    <% }); %>
                <% } else { %>
                    <h2> no data</h2>
                <% } %>
            </div>
            
        </div>

        <script src="main.js"></script>
    </body>
</html>