
*{
	padding:0px;
	margin:0px;
	list-style-type:none;
	text-decoration:none;
	}

body{
	color:white;
	background:rgb(43, 41, 41);
	overflow-x:hidden;
	font-size:1.2em;
}
.mode{
	height:20%;
	width:4%;
	border-radius:45%;
	background:#B0B0B0;
	position:relative;
	top:20px;
	right:10p;
	}
	
.dark{
	position:absolute;
	width:55%;
	height:105%;
	background:black;
	color:black;
	border-radius:100%;
	}
	
.white{
	position:absolute;
	width:55%;
	height:105%;
	background:white;
	color:white;
	border-radius:100%;
	left:25px;
	display:none;
}
header{
	position:fixed;
	z-index:3;
	height:100px;
	width:100%;
	background:black;

}
.header{
	display:flex;
	justify-content:space-around;
	
}
.design_container{
	height:300px; 
	width:100%; 
	position:relative; 
	text-align:center;
	padding-top:100px;
	background-repeat: repeat-x;
}

#advert{
	display:flex;
	position:absolute;
	right:1px;
	top:0px;
	display:none;
}
#advert a img{
	height:30px;
	width:30px;
	padding:2px;
}
#home > div#advert > img{
	height:100px;
	width:100px;
}

@media screen and (max-width:800px){
	.menu{
		position:relative;
		height:20px;
		width:30px;
		background:url("menu.png");
	}
	#advert, #advert a{
		display:inline;
	}
}
.see_more{
	height:20px; 
	width:200px; 
	color:rgb(125, 125, 199); 
	overflow:hidden;
	cursor:pointer;
}
#link{
	position:absolute;
	top:50px;
	right:-1px;
	display:inline;
	background:rgb(71, 71, 63);
	border-radius:20px;
}
#link a img{
	width:20px;
	height:20px;
	border-radius:4px;
	padding:5px 5px;
	display:inline;
}
#links{
	display:flex;
	align-items: center;
	justify-content: space-around;
	width:350px;
	height:100px;
}

#links a{
	width:38px;
	height:35px;
	font-size:15px;
	
}	
#links img{
	width:38px;
	height:35px;
	
}

.header a{
	color:white;
	text-decoration:none;
}
#links_mobile, #links_mobile a{
	display:none;
	z-index:2;
}
.container{
	position:absolute;
	top:200;
	margin:0px auto 10px auto;
	width:100%;
	opacity:0.8;
}
.search-container{
	width:100%;
	position:static;
	display: flex;
  	align-items: center;
  	justify-content: center;
	background:rgb(175, 184, 243);
	color:rgb(255, 255, 255);
	height:100px;
	opacity:1;
}
.search-container label{
	background:black;
	height:30px;
	width:90px;
	border-radius:10px;
	padding: 5px;
}
.search-container label:hover{
	background:rgb(169, 169, 239);
}
.search{
	height:40px;
	width:350px;
	border-radius:50px;
	font-size:1em;
	margin:10px;
}
@media screen and (max-width:800px){
	.search{
		width:280px;
	}
}

@media screen and (max-width: 800px){
	.header div a, #link, #links a{
	display:none;
}
#links_mobile{
	position:absolute;
	width:100%;
	height:360px;
	display:none;
	color:gold;
	background:black;
	padding:10px;
	z-index:6;
	top:60px;
}
#menu:hover #link_mobile{
		display:block;
}
#links_mobile a{
	display:block;
	padding:1px;
	margin:10px;
	color:white;
	height:40px;
	
	z-index:2;
	transition:all 0.5s linear;
	}	
	#links_mobile a img{
		height:30px;
		width:30px;
		margin-right:10px;
			
		}
}


.style{
	margin:0px auto;
	width:80vw;
	border-width:2px;
	border-style:solid;
	border-color:gold;
	text-align:center;
	position:relative;
	
	font-size:20px;
}


.news img, .dsong img{
	height:200px;
	width:190px;
	float:left;
	padding:10px;
	
}
.clear_float{
	clear:both;
}
.sect{
	width:100%;
	margin:20px 0px;
	position:relative;
	top:0px;
	
}
nav {
	position:sticky;
	top:60px;
	display: none;
	justify-content:space-between;
	font-size:20px;
	font-weight:bold;
	color:black;
	background:gold;
	margin:10px;
	height:30px;
}
@media screen and (max-width:800px){
	nav{
		display:flex;
	}
	nav div:hover{
		border-bottom-style:solid;
		border-bottom-color:white;
		cursor:pointer;
	}
	
}

section{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	margin:10px auto;
	padding:10px;
	gap:2em;
	position:relative;
	margin:15px;
}

section div{
	width:350px;
	text-align:center;
	font-size:20px;
	background:rgba(50,50,50,0.9);
	box-shadow:-5px -5px 5px #777777;
	
	
}

div h2, h1, h3, h4{
	color:gold;
}
.image-container{
	position:relative;
	overflow-x:scroll;
	overflow-y:hidden;
	height:220px;
	width:100%;
	left:-12px;
	margin:10px;
	}
.image-display{
	position:absolute;
	width:auto;
	height:auto;
	display:flex;
	background:rgba(0,0,0,0.9);
	border:5px;
	box-shadow: 5px 5px 5px #777777;
	overflow:hidden;
}
.image-display a{
	position:relative;
	color:white;
	font-size:20px;
	text-align:center;
}
.image-display-style{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin-right:10px;
	text-align:center;
}
.song_list{
	position:absolute;
	width:100px;
	height:140px;
	margin:20px;
	background:url('pix/background.png');
	background-repeat:no-repeat;
	cursor:pointer;
	font-size:15px;
	
	
}
.song_list a{
		padding-top:4px;
	
}
.pix{
	height:150px;
	width:100px;
	padding:0px 20px;
	border-radius:50%;
}

.news_field{
	width:70%;
	box-shadow:5px 5px 5px #777777;
	position:relative;
	margin:0px auto;
}

@media screen and (max-width: 800px){
	.news_field{
		width:100%;
	}

}	
.news{
	position:absolute;
	Padding-right:15px;
	background:rgb(46, 45, 45);
}
.upcoming{
	position:relative;
	width:70%;
	margin:0px auto;
	background:white;
}
.pix1{
	height:1%;
	width:8%;
	padding:0px 20px;
	border-radius:50%;
	
}
.dimg{
	height:430px; 
	width:360px;
	padding:0px 0px;
}

@media screen and (max-width:800px){
	.upcoming{
		width:100%;
			}
	
}
#fside{
	width:100%;
	position:absolute;
	margin:5px 0px;
	text-align:center;
	background:grey;
}
@media screen and (max-width:800px){
	#fside{
		width:100%;
		text-align:center;
		font-size:20px;
			}
	
	}

.img{
	background:rgba(50,50,50,0.9);
	width:220px;
	height:250px;
	padding:10px;
}
.download{
	width:70%;
	position:relative;
	box-shadow:-5px 5px 5px #777777;
	height:110vh;
	margin:0px auto;
	
}
@media screen and (max-width:800px){
	.download{
		width:100%;
		
	}
}
.song-container{
	position:absolute;
	background:rgb(46, 45, 45);
	
	}

.dsong{
	position:relative;
	margin:10px;
	
}
.dsong_box{
	height:15px;
	width:150px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	position:relative;
	bottom:0px;
	left:0px;
	background:white;
	border: 1px solid #ddd;
	border-radius: 15px;
	box-shadow: 0px 0px 5px #ddd;
	padding:5px;
}
.dsong_box audio{
  width: 100px;
  height:10px;
 
}
.upcoming_download, .upcoming_load{
	background:#3A3839;
	color:white;
	border-radius:10px;
	margin: 5px 2px;
	padding:5px;
	flex-wrap:wrap;
}
.upcoming_load{
	border-color:gold;
	border-style:solid;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:space-between;
}
.upcoming_download a{
	padding:0px 10px;
	color:gold;
	text-align:center;
}
.upcoming_load button{
	width:300px;
	height:53px;
	border-radius:10px;
	font-size:17px;
	color:black;
}

.form{
	width:350px;
	height:250px;
	border-radius:0px;
	background:yellow;
	position:fixed;
	left:480px;
	top:250px;
	z-index:200;
	text-align:center;
	padding:5px;
	display:none;
}
.form input, .form button{
	width:350px;
	height:45px;
	margin:3px;
	border-radius:10px;
	border-width:0px;
}
.form button{
	background:rgb(169, 169, 239);;
}
.video_container{
	
	width:90%;
	
	position:relative;
	background:rgb(37, 32, 32);
	margin:2px auto;
}
.video_container.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  .v_paragraph{
	height:70px;
	width:400px;
	overflow:hidden;
	background:white;
	color:black;
  }
  .video_container .flex-item {
	margin: 10px;
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top:10px;
  }
@media screen and (max-width:800px){
	
	.video_container, .video_container div{
		width:100%;
		text-align:center;
	}
	.v_paragraph{
		height:70px;
		width:99%;
		overflow:hidden;
		background:white;
		color:black;
	  }
	  #sociallink{
		display:none;
	  }
}

.likes{
	display:flex;
	align-items:center;
	position:relative;
	justify-content: center;
	height:40px;
	width:180px;
	border-radius:30px;
	background:rgb(169, 169, 239);
	right:0px;
	bottom:2px;
}
/* details page */
.details_container, .page_advert{
	text-align:center;
	position:relative;
}
.details_container img, .details_container p{
	padding:20px;
}

.page_advert{
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
	background:rgb(149, 175, 107);
	padding:20px 0px;
	margin: 0px  auto;
}
.page_advert_details{
	height:320px;
	width:250px;
	background:black;
	color:white;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	border-bottom:solid yellow 2px;
	margin-top:10px;
	padding:10px;
	text-align:left;
}
.page_advert_details img{
	height:180px;
	width:220px;
}
.page_advert_details div{
	height:190px;
	width:220px;
	overflow:hidden;
}
.page_advert_details a{
	color:white;
	cursor:pointer;
}
.page_advert_details a:hover{
	color:yellow
}
.details-audio{
	height:25px;
	width:300px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	background:white;
	border: 1px solid #ddd;
	border-radius: 15px;
	box-shadow: 0px 0px 5px #ddd;
	padding:5px;
	margin:0px auto;
}
.details-audio audio{
	height:24px;
	width:200px;
	background:white;
}
.details{
	width:70%;
	background:rgb(80, 76, 76);
	margin:0px auto;
}
.details .lyrics, .details .about{
	
	margin:0px auto;
}
@media screen and (max-width:800px){
	.details{
		width:100vw;
		overflow:hidden;
	
	}
}
#details_link{
	margin-top:10px;
	display:block;
	background:rgb(102, 102, 94);
	border-radius:20px;
}
#details_link a img{
	width:28px;
	height:20px;
	border-radius:4px;
	padding:5px 5px;
	display:inline;
}
#details_links{
	display:flex;
	align-items: center;
	justify-content: space-around;
	width:350px;
	height:100px;
}

#details_links a{
	width:38px;
	height:35px;
	font-size:15px;
	
}	
#details_links img{
	width:38px;
	height:35px;
	
}
.more_songs{
	width:350px;
	height:100px;
	margin:30px auto;
	color:white;
	text-align:center;
	background:black
}
.news_click_more{
	display:flex;
	flex-direction:column;
	justify-content:center;
}
